$black-color: black;
$red-color: red;
$green-coler : green;
$white-color: white;
$grey-color: rgb(174, 172, 172);
$blue-color: rgb(110, 149, 229);


* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}