@import 'base';

// header
.a {
    background-color: $black-color;
    display: flex;
    color: $grey-color;
    justify-content: space-around;
    padding: 12px 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-right: 200px;
}

.title2 a {
    color: $grey-color;
    padding: 0 20px;
    border-left: 1px solid $grey-color;
}

.usd {
    border-right: 1px solid $grey-color;
}

.title2 a:hover {
    color: $blue-color;
}

//body
header {
    position: sticky;
    top: 1px;
    z-index: 1;
}

.header {
    position: absolute;
    display: flex;
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 0.74);
    width: 1419px;
    border-bottom: 1px solid $grey-color;
}

.header .logo {
    margin-left: 130px;

}

.header .menu {
    margin-left: 50px;
}

.header .menu a {
    padding-left: 20px;
    color: $black-color;
}

.header .menu .home {
    color: $blue-color;
}

.header .menu a:hover {
    color: $blue-color;
}

.header .btn {
    margin-left: 470px;
}

.header .btn .seach {
    font-size: 20px;
}

.header .btn .cart {
    margin-left: 30px;
    font-size: 20px;
}

.header .btn .love {
    margin-left: 30px;
    font-size: 20px;
}

.header .btn a:hover {
    color: $blue-color;
    cursor: pointer;
}

button {
    opacity: inherit;
}

img.slide {
    width: 100%;
}

img.slide:not(:first-child) {
    display: none;
}

.btn-change {
    font-size: 80px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    color: rgb(144, 143, 143);
    cursor: pointer;
}

#next {
    right: 50px;
    ;
}

#prev {
    left: 50px;
}

.change-img {
    text-align: center;
    margin-top: 1rem;
}

.title-img {
    position: absolute;
    margin-top: 300px;
    margin-left: 200px;
    font-size: 30px;
}

.h3 {
    animation: h3 1.5s;
}

.h1 {
    padding: 20px 0;
    animation: h3 1.5s 0.1s;
    font-family: 'Times New Roman', Times, serif;
}

.button button {
    border: none;
    border-radius: 18px;
    padding: 10px 30px;
    background-color: $blue-color;
    color: $white-color;
    font-size: 15px;
    animation: button 1.5s 0.2s;
    cursor: pointer;
}

.button button:hover {
    background-color: $black-color;
}

.category {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

.women {
    margin-right: 30px;
}

.women:hover {
    animation: h3 1s;
}

.women .title-women {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 30px;
}

.women .title-women span {
    padding-bottom: 10px;
    font-size: 20px;
}

.women img {
    width: 369px;
    height: 251px;
    border: 1px solid $grey-color;
}

.men:hover {
    animation: h3 1s;
}

.men .title-man {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 30px;
}

.men .title-man span {
    padding-bottom: 10px;
    font-size: 20px;
}

.men img {
    width: 369px;
    height: 251px;
    border: 1px solid $grey-color;
}

.accessories {
    margin-left: 30px;
}

.accessories:hover {
    animation: h3 1s;
}

.accessories .title-acce {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 30px;
}

.accessories .title-acce span {
    padding-bottom: 10px;
    font-size: 20px;
}

.accessories img {
    width: 369px;
    height: 251px;
    border: 1px solid $grey-color;
}

//footer
footer {
    background-color: #222;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 70px;

}

.categories {
    display: flex;
    flex-direction: column;
}

.categories span {
    padding: 10px;
}

.categories span h3:hover {
    color: $white-color;
}

.categories span:hover {
    color: $blue-color;
    cursor: pointer;
}

.categories span h3 {
    padding: 5px;
}

.help {
    display: flex;
    flex-direction: column;
}

.help span {
    padding: 10px;
}

.help span h3:hover {
    color: $white-color;
}

.help span:hover {
    color: $blue-color;
    cursor: pointer;
}

.help span h3 {
    padding: 5px;
}

.getintouch {
    display: flex;
    flex-direction: column;
}

.getintouch span {
    padding: 10px;
}

.getintouch span h3 {
    padding: 5px;
}

.getintouch .icon {
    padding: 10px;
}

.newsletter {
    display: flex;
    flex-direction: column;
}

.newsletter span {
    padding: 10px 10px 18px 0;
}

.newsletter input {
    border: none;
    border-bottom: white;
    background-color: transparent;
    padding: 10px 100px 10px 1px;
    display: flex;
    outline: none;
}

.newsletter button {
    border: none;
    border-radius: 23px;
    padding: 15px 10px;
    margin-top: 10px;
    background-color: $blue-color;
    color: $white-color;
    cursor: pointer;
}

.newsletter button:hover {
    color: $blue-color;
    background-color: $white-color;
}

.bank-title-end {
    display: flex;
    justify-content: center;
}

.bank {
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

.title-end {
    padding-bottom: 50px;
}

//shop
.shop {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.products {
    display: flex;
    margin-right: 50px;
    padding: 50px 0;
}

.products button {
    margin-right: 30px;
    border: none;
    background: none;
    color: $grey-color;
    cursor: pointer;
    font-size: 15px;

}

.products button:hover {
    border-bottom: 1px solid $black-color;
    color: $black-color;
}

.search {
    padding: 50px;
    margin-left: 10px;
}

.search i {
    color: $grey-color;
    padding: 5px 5px 5px 0;
    position: absolute;
    margin-top: 5px;
}

.search input {
    border: none;
    padding: 10px 0 10px 20px;
}

.search input {
    border-bottom: 1px solid $grey-color;
    outline: none;
}

.shop-product {
    display: inline-flex;
    margin: 0 0 100px 160px;
    flex-wrap: wrap;
}

.shop-product .img-name-price {
    margin: 20px 20px 20px 20px;
}

.img-name-price img {
    transform: scale(1);
    transition: all 0.5s;
}

.img-name-price img:hover {
    transform: scale(1.1);
}

.img-name-price img {
    height: 333px;
    width: 268px;
    cursor: pointer;
}

.shop-product .img-name-price .name-price .name-product {
    margin: 10px 10px 10px 0;
    color: $grey-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.shop-product .img-name-price .name-price .name-product h5:hover{
    color: $blue-color;
}
.shop-product .img-name-price .name-price .name-product i:hover{
    color: $blue-color;
}
.s
.shop-product .img-name-price .name-price .price-product {
    margin: 10px 10px 10px 0;
    color: $grey-color;
}

.load-mode {
    display: flex;
    justify-content: center;
}

.load-mode button {
    border: none;
    border-radius: 23px;
    min-width: 179px;
    height: 46px;
    background-color: $grey-color;
    font-size: 15px;
    margin-bottom: 143px;
    cursor: pointer;
}

.load-mode button:hover {
    background-color: $black-color;
    color: $white-color;
}