<footer>
    <div class="footer">
        <div class="categories">
            <span>
                <h3>CATEGORIES</h3>
            </span>
            <span>Women</span>
            <span>Men</span>
            <span>Shoes</span>
            <span>Watches</span>
        </div>
        <div class="help">
            <span>
                <h3>HELP</h3>
            </span>
            <span>Track Order</span>
            <span>Returns</span>
            <span>Shipping</span>
            <span>FAQs</span>
        </div>
        <div class="getintouch">
            <span>
                <h3>GET IN TOUCH</h3>
            </span>
            <span>Any questions? Let us know in store at 8th <br> floor, 379 Hudson St, New York, NY 10018 or <br> call us on (+1)
                96
                716 6879</span>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
            </div>
        </div>
        <div class="newsletter">
            <span>
                <h3>NEWSLETTER</h3>
            </span>
            <input type="text" placeholder="email@example.com">
            <button>SUBSCRIBE</button>
        </div>
    </div>
    <div class="bank-title-end">
        <div class="bank-title">
            <div class="bank">
                <img src="img/icons/icon-pay-01.png">
                <img src="img/icons/icon-pay-02.png">
                <img src="img/icons/icon-pay-03.png">
                <img src="img/icons/icon-pay-04.png">
                <img src="img/icons/icon-pay-05.png">
            </div>
            <div class="title-end">
                Copyright ©2023 All rights reserved <i class="far fa-heart"></i> Made with by <span
                    style="color:blue;">Colorlib</span> & distributed by <span style="color: blue;">ThemeWagon</span>
            </div>
        </div>
    </div>
</footer>