<div class="a">
    <div class="title">
        Free shipping for standard order over $100
    </div>
    <div class="title2">
        <a href="">Help & FAQs</a>
        <a href="">My Account</a>
        <a href="">EN</a>
        <a class="usd" href="">USD</a>
    </div>
</div>