<div class="container">
    <header>
        <div class="header">
            <div class="logo">
                <img src="/img/icons/logo-01.png">
            </div>
            <div class="menu">
                <a class="home" href="">Home</a>
                <a href="">Shop</a>
                <a href="">Features</a>
                <a href="">Blog</a>
                <a href="">About</a>
                <a href="">Contact</a>
            </div>
            <div class="btn">
                <a class="seach"><i class="fa fa-search"></i></a>
                <a class="cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="love"><i class="far fa-heart"></i></a>
            </div>
        </div>
    </header>
    <div class="title-img">
        <div class="h3">
            <h3>Women Collection 2018</h3>
        </div>
        <div class="h1">
            <h1>NEW SEASOM</h1>
        </div>
        <div class="button">
            <a href=""><button>SHOP NOW</button></a>
        </div>
    </div>
    <div class="slide-img">
        <img class="slide" src="img/slide-01.jpg" idx="0" alt="">
        <img class="slide" src="img/slide-02.jpg" idx="1" alt="">
        <img class="slide" src="img/slide-03.jpg" idx="2" alt="">

        <i id="prev" class="fas fa-caret-left btn-change"></i>
        <i id="next" class="fas fa-caret-right btn-change"></i>
    </div>
    <div class="category">
        <a href="">
            <div class="women">
            <div class="title-women">
                <span>
                    <h1>Women</h1>
                </span>
                <span>Spring 2018</span>
            </div>
            <img src="img/banner-01.jpg">
        </div>
        </a>
        <a href="">
            <div class="men">
            <div class="title-man">
                <span>
                    <h1>Mem</h1>
                </span>
                <span>Spring 2018</span>
            </div>
            <img src="img/banner-02.jpg">
        </div>
        </a>
        <a href="">
            <div class="accessories">
            <div class="title-acce">
                <span>
                    <h1>Accessories</h1>
                </span>
                <span>New Trend</span>
            </div>
            <img src="img/banner-03.jpg">
        </div>
        </a>
    </div>
</div>
<script src="/src/public/js/main.js"></script>