<div>
    <header>
        <div class="header">
            <div class="logo">
                <img src="/img/icons/logo-01.png">
            </div>
            <div class="menu">
                <a class="home" href="">Home</a>
                <a href="">Shop</a>
                <a href="">Features</a>
                <a href="">Blog</a>
                <a href="">About</a>
                <a href="">Contact</a>
            </div>
            <div class="btn">
                <a class="seach"><i class="fa fa-search"></i></a>
                <a class="cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="love"><i class="far fa-heart"></i></a>
            </div>
        </div>
    </header>

    <div class="slide">
        <img src="img/slide-01.jpg" width="100%">
        <img src="img/slide-02.jpg" width="100%">
        <img src="img/slide-03.jpg" width="100%">
    </div>
</div>
<script src="/src/public/js/main.js"></script>
